<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pilot App - Flying</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="row">
    <div class="col-6 text-right">Date Of Flight</div>
    <div class="col-6" th:text="${#temporals.format(flight.timeOut, 'yyyy-MM-dd')}"></div>
</div>
<!-- Planned Route? -->
<div class="row">
    <div class="col-6 text-right">Departed From</div>
    <div class="col-6"><span id="departed-from" th:text="${flight.departedFrom}"></span> <a href="javascript:modifyIcao('departed-from')" class="badge badge-primary">&#9997;</a></div>
</div>
<div class="row">
    <div class="col-6 text-right">Time Out</div>
    <div class="col-6" th:text="${#temporals.format(flight.timeOut, 'HH:mm')}">-</div>
</div>
<div class="row">
    <div class="col-6 text-right">Time Off</div>
    <div class="col-6" th:text="${#temporals.format(flight.timeOff, 'HH:mm')}">-</div>
</div>
<div class="row">
    <div class="col-6 text-right">Time On</div>
    <div class="col-6" th:text="${#temporals.format(flight.timeOn, 'HH:mm')}">-</div>
</div>
<div class="row">
    <div class="col-6 text-right">Time In</div>
    <div class="col-6" th:text="${#temporals.format(flight.timeIn, 'HH:mm')}">-</div>
</div>
<div class="row">
    <div class="col-6 text-right">Landed At</div>
    <div class="col-6"><span id="landed-at" th:text="${flight.landedAt}"></span> <a href="javascript:modifyIcao('landed-at')" class="badge badge-primary">&#9997;</a></div>
</div>
</body>
</html>