<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pilot App - Preflight</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h3>Preflight</h3>
<form method="post" action="/blocks-off"><input type="submit" value="Blocks Off" onclick="var result = prompt('Specify Departed From ICAO please'); if (!result) return false; this.form['departedFrom'].value = result.toUpperCase(); return true;"><input type="hidden" name="departedFrom"></form>
[Refuel]<br>
[Boarding & Loading]<br>
[Cancel Flight]<br>
</body>
</html>